<% @page_title = "New content" %>

<%= form_for @content do |f| %>
  <fieldset>
    <legend><%= @page_title %></legend>
    <ul>
    <%= render :partial => "form", :locals => {:f => f} %>
      <li>
        <%= f.label :kind %>
        <%= f.select :kind, Content.children.map(&:to_s) %>
      </li>
      <li>
        <%= f.submit "Create" %>
      </li>
    </ul>
  </fieldset>
<% end %>
